@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@200;300;400;500;700;800;900;1000&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.justih .col-lg-4 {
    padding: 0px 5px;
    place-self: center;
}

.locate {
    place-self: center;
    font-weight: 600;
}

.locate a {
    color: black;
}

.branch {
    background-color: black;
}

.locate .branch {
    padding: 15px 25px;
    color: white;
}

.search {
    text-align: center;
    padding: 15px 0px;
}

.search a {
    color: black;
    font-weight: 700;
}

.ayurveda {
    position: absolute;
    font-family: 'Marcellus', serif !important;
    padding: 30px 30px;
    background: rgba(49, 49, 49, 0.5);
    top: 142px;
    right: 0;
}

.ayurveda h1 {
    font-family: 'Marcellus', serif;
    font-size: 45px;
    color: #FEDA77;
}

.ayurveda h2 {
    font-family: 'Marcellus', serif !important;
    font-size: 42px;
    color: white;
}

.ayurveda p {
    font-size: 18px;
    color: white;
}

.read {
    color: black;
    font-family: 'Marcellus', serif;
    background-color: #FBFBFB;
    padding: 6px 15px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.overall {
    font-family: 'Marcellus', serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    margin: 20px 100px;
}

.about {
    font-family: 'Marcellus', serif;
    align-self: center;
    background-color: #313131;
}

.about h2 {
    font-family: 'Marcellus', serif;
    color: white;
}

.about span {
    color: #FEDA77;
}

.about p {
    color: #ffffff;
}

.aboutt {
    padding: 40px;
}

.why {
    padding: 50px 0px;
    place-self: center !important;
}

.why h2 {
    font-family: 'Marcellus', serif;
    color: white;
}

.why span {
    font-family: 'Marcellus', serif;
    color: #FEDA77;
}

.why p {
    font-family: 'Marcellus', serif;
    color: white;
}

.blur {
    opacity: .6;
    filter: blur(1px);
}

.topp {
    background: rgb(0 0 0 / 70%);
    padding-left: 125px;
    position: relative;
    top: 95px;
}

.mr-100 {
    margin-right: 100px;
}

.why .read {
    background: #313131;
    color: white;
}

.font-20 {
    font-size: 20px;
}

.makes {
    background-color: #313131;
    color: white;
}

.treatment ul li {
    list-style: none;
    font-family: 'Marcellus', serif;
    font-size: 19px;
    padding: 12px 0px;
}

.content {
    padding: 15px 0px;
    position: absolute;
    bottom: 0;
    background: rgb(0 0 0 / 55%);
    right: 15px;
    left: 15px;
    font-family: 'Marcellus', serif;
}

.content h2 {
    color: white;
    font-family: 'Marcellus', serif;
    font-size: 25px;
    margin-bottom: 2px;
}

.content p {
    color: white;
    font-family: 'Marcellus', serif;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #FEDA77;
}

.care .locate {
    position: absolute;
    padding: 50px;
    right: 0px;
    top: 35%;
    background: rgb(0 0 0 / 55%);
}

.form-control {
    height: 60px;
    background-color: transparent;
}

::placeholder {
    color: rgb(255, 255, 255) !important;
}

.locate span {
    color: black;
    background-color: #FEDA77;
    border-color: #FEDA77;
    font-weight: 600;
    padding: 0px 35px;
}

.doctor h3,
h4 {
    font-family: 'Marcellus', serif;
}

.check {
    background-color: black;
    font-family: 'Marcellus', serif;
    color: white;
}

.locates {
    left: 10%;
}

.locates p {
    margin-bottom: 5px;
    font-size: 25px;
    color: white;
    font-family: 'Marcellus', serif;
}

.locates .ayt {
    background-color: transparent;
    color: #FEDA77;
    padding: 0 !important;
}

footer {
    background-color: #313131;
}

.form-controll {
    height: 42px;
    border-color: #FEDA77;
}

.input-group-appendd {
    background-color: #FEDA77;
    border: none;
}

.mt-10 {
    margin-top: 100 px;
}

.use {
    color: white;
}

.use ul {
    list-style: none;
    padding: 10px;
    padding-left: 25px;
}

.use ul li {
    padding: 5px 0px
}

.use ul span {
    font-size: 20px;
    font-weight: 900;
    color: #FEDA77;
}

.use a {
    color: white;
}

.use h5 {
    padding-left: 25px;
}

.cont {
    color: #FEDA77;
    font-size: 20px;
}

.follow {
    color: white;
}

.follow a {
    color: white;
}

.navigationn-ul {
    list-style: none !important;
}

.navigationn-ul .nav-link {
    color: black;
    font-weight: 600;
}

.navigationn-ul .active {
    color: #FEDA77 !important;
    font-weight: 600;
}

.site-navigationn {
    position: fixed;
    z-index: 10000;
    right: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    display: none;
}

.closse {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin-top: 10px;
    margin-right: 10px;
}

.titile {
    position: absolute;
    font-family: 'Marcellus', serif !important;
    padding: 50px;
    background: rgba(49, 49, 49, 0.5);
    top: 23%;
    left: 25%;
    text-align: center;
    font-family: 'Marcellus', serif !important;
}

.titile h1 {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Marcellus', serif !important;
}

.ayurrr {
    font-family: 'Marcellus', serif !important;
    background: rgba(49, 49, 49, 0.7);
    right: 0;
    padding: 45px;
    margin-top: 87px;
}

.ayurrr h2,
p {
    font-family: 'Marcellus', serif !important;
    color: white;
}

.imgayur {
    right: 0;
}

.ayurrr2 {
    margin-top: 152px;
    z-index: 10;
    padding: 40px;
}

.mb-200 {
    margin-bottom: 200px;
}

.vision h2 {
    font-family: 'Marcellus', serif !important;
    font-weight: 600;
}

.vision p {
    color: black;
    padding: 26px;
    text-align: center;
}

.contact {
    font-family: 'Marcellus', serif !important;
    color: white;
    background: rgba(49, 49, 49, 0.8);
    padding: 60px;
}

.contact h3 {
    font-family: 'Marcellus', serif !important;
    color: white;
    font-size: 25px;
}

.contact .form-control {
    border: none;
    border-bottom: 1px solid #FEDA77;
    border-radius: 0px;
    height: 50px;
}

.btn-primaryy {
    color: rgb(0, 0, 0);
    background-color: #FEDA77;
    border-color: #FEDA77;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 24px;
}

.touch p {
    color: black;
}

.touch a {
    color: black;
}

.touch {
    margin-top: 75px;
    margin-left: 60px;
    align-self: center;
    text-align: -webkit-left;
}

.touch h4 {
    color: #FEDA77;
    font-weight: 600;
}

.ml-20 {
    margin-left: 36px;
}

.withus {
    bottom: 130px;
    position: relative;
    margin-bottom: -130px;
}

.prod {
    font-family: 'Marcellus', serif !important;
    background: rgba(49, 49, 49, 0.7);
    right: 0;
    padding: 70px;
    margin-top: 83px;
    text-align: center;
    line-height: 27px;
}

.calender {
    margin-left: 15px;
    margin-right: -15px;
    padding: 8px 15px;
    background-color: white;
    box-shadow: 5px 5px 18px rgb(0 0 0 / 50%);
}

.calender i {
    color: black;
    font-size: 20px;
}

.appointment h4 {
    font-family: 'Marcellus', serif !important;
}

.appointment i {
    color: #FEDA77;
    font-size: 23px;
    line-height: 25px;
}

.appoi {
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 500;
}

.appointment {
    padding: 35px 0px;
    border: 1px solid #d9d9d9;
}

.box-50 {
    box-shadow: 5px 5px 18px rgb(0 0 0 / 5%);
}

.justify-content-center {
    justify-content: center;
}

.searc {
    left: 160px;
    top: 260px;
    padding: 55px 0px;
    background: rgb(0 0 0 / 65%);
    text-align: -webkit-center;
}

.searc h3 {
    font-size: 23px;
    color: white;
    font-family: 'Marcellus', serif !important;
}

.searc .input-group {
    width: 70%;
}

.searcc {
    right: 160px;
    top: 260px;
    padding: 35px 0px;
    background: rgb(0 0 0 / 65%);
    text-align: -webkit-center;
}

.searcc h4 {
    text-decoration-line: UNDERLINE;
    text-decoration-color: #FEDA77;
    color: white;
    font-family: 'Marcellus', serif !important;
}

.branch i {
    color: #FEDA77;
    font-size: 22px;
}

.branch a {
    color: white;
}

.appoii {
    text-transform: uppercase;
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 500;
    background-color: #FEDA77;
    font-weight: 600;
}

.box-50 img {
    height: 400px;
    object-fit: cover;
}

.doc-height img {
    height: 400px;
    object-fit: cover;
}

.bottom-50 {
    left: 8%;
    bottom: 0%;
    z-index: 9999;
    background-color: #22201a;
}

.bottom-50 h3 {
    color: white;
    font-family: 'Marcellus', serif;
}

.bottom-50 p {
    font-size: 15px;
}

.bottom-50 .container {
    color: white;
}

.mx-wid {
    max-width: 160px;
}

.akra li {
    font-size: 15px;
}

.akra p {
    font-size: 15px;
    margin-bottom: 5px;
    text-indent: 30px;
}

.akra h5 {
    font-size: 20px;
    margin-bottom: 4px;
}

#popuppp {
    background-color: transparent;
    left: 25%;
    bottom: 25%;
}

.pop-bg {
    background-color: #22201a;
}