<!doctype html>
<html lang="en">
    {% load static %}   
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700;800;900;1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/fonts,_icomoon,_style.css+css,_owl.carousel.min.css+css,_bootstrap.min.css+css,_style.css.pagespeed.cc.11YcxEXwqA.css' %}" />
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{%static 'css/icofont/icofont.min.css' %}">

    <link href="{% static 'images/about.png' %}" rel="icon">
    <title>Ayurcare</title>
</head>

<body>

    <!-- start Header -->

    <nav class="site-navigationn" role="navigation">
        <div id="closse"><span class="closse iconify" data-icon="ant-design:close-circle-outlined"></span></div>
        <ul class="navigationn-ul p-5">
            <li><a href="{% url 'web:home' %}" class="nav-link active">HOME</a></li>
            <li><a href="{% url 'web:about' %}" class="nav-link">ABOUT US</a></li>
            <li><a href="{% url 'web:branch' %}"  class="nav-link">PRODUCTS</a></li>
            <li><a href="{% url 'web:home' %}"  class="nav-link">GALLERY</a></li>
            <li><a href="{% url 'web:contact' %}"  class="nav-link">CONTACT US</a></li>
            <li><a href="{% url 'web:doctor' %}"  class="nav-link">OUR DOCTORS</a></li>
        </ul>
    </nav>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <div class="top-bar" id="hre1">
        <div class="container">
            <div class="row justih">
                <div class="col-lg-4 col-4 dd-none">


                    <a href="#" class="pr-2"><span class="iconify" data-icon="bi:twitter"></span> </a>
                    <a href="#" class="pr-2"><span class="iconify" data-icon="bi:facebook"></span> </a>
                    <a href="#" class=""><span class="iconify" data-icon="bi:instagram"></span> </a>

                </div>
                <div class="col-lg-4 col-4 text-center">
                    <h2 style="font-weight: 800;">LOGO</h2>
                </div>
                <div class="col-lg-4 col-4 dd-none text-center">
                    <a href="mailto:info@ayucare.com" class="mr-3">info@ayucare.com</a>
                    <a href="tel:+919876543210" class=""><span class="d-none d-md-inline-block">(+91)9876543210</span></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <header id="header" class="site-navbar js-sticky-header site-navbar-target" role="banner">
        <div class="container-fluid p-0">
            <div class="row position-relative">



                <div class="col-lg-8 col-8">
                    <nav class="site-navigation" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                            <li><a href="{% url 'web:home' %}" class="nav-link active">HOME</a></li>
                            <li><a href="{% url 'web:about' %}" class="nav-link">ABOUT US</a></li>
                            <li><a href="{% url 'web:branch' %}"  class="nav-link">PRODUCTS</a></li>
                            <li><a href="{% url 'web:home' %}"  class="nav-link">GALLERY</a></li>
                            <li><a href="{% url 'web:contact' %}"  class="nav-link">CONTACT US</a></li>
                            <li><a href="{% url 'web:doctor' %}"  class="nav-link">OUR DOCTORS</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-1 col-1 search">
                    <a href="#"><span class="iconify" data-icon="bi:search"></span> </a>
                </div>
                <div class="col-lg-2 locate">
                    <a href="branch.html" class="branch float-right">LOCATE BRANCH</a>
                </div>
                <div class="toggle-button d-inline-block d-lg-none"><a href="#" style="color: black;" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="iconify text-black" data-icon="gg:menu"></span></a>
                </div>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}
    {% include 'partials/footer.html' %}
    {% block javascript %}
    {% endblock %}

</body>
</html>


    <!-- end Header -->