@media only screen and (max-width:1200px) {
    .site-navbar .site-navigation .site-menu>li>a {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;
        font-weight: 600;
        padding: 15px 0px;
        color: #000 !important;
        display: inline-block;
        text-decoration: none !important;
    }
    .ayurrr {
        font-family: 'Marcellus', serif !important;
        background: rgba(49, 49, 49, 0.7);
        right: 0;
        padding: 45px;
        margin-top: 60px;
    }
    .ayurrr2 {
        margin-top: 130px;
        z-index: 10;
        padding: 40px;
    }
    .site-navbar .site-navigation .site-menu {
        padding-inline-start: 0px !important;
        margin-bottom: 0;
    }
    .locate .branch {
        padding: 20px 20px;
        color: white;
    }
    .locate {
        padding-left: 0;
        padding-right: 0;
        place-self: center;
        font-weight: 600;
    }
    .ayurveda {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 30px 30px;
        background: rgba(49, 49, 49, 0.5);
        top: 110px;
        right: 0;
    }
    .just {
        width: 87%;
    }
    .topp {
        background: rgb(0 0 0 / 70%);
        padding-left: 125px;
        position: relative;
        top: 74px;
    }
    .care .locate {
        position: absolute;
        padding: 50px;
        right: 0px;
        top: 29%;
        background: rgb(0 0 0 / 55%);
    }
}

@media only screen and (max-width:992px) {
    .appoii {
        text-transform: uppercase;
        color: black;
        padding: 7px 14px;
        font-size: 15px;
        font-weight: 500;
        background-color: #FEDA77;
        font-weight: 600;
    }
    .branch p {
        font-size: 14px;
    }
    .branch i {
        color: #FEDA77;
        font-size: 20px;
    }
    .branch .row {
        padding-left: 10px !important;
    }
    .searcc h4 {
        text-decoration-line: UNDERLINE;
        text-decoration-color: #FEDA77;
        color: white;
        font-family: 'Marcellus', serif !important;
        font-size: 20px;
    }
    .searc h3 {
        font-size: 20px;
        color: white;
        font-family: 'Marcellus', serif !important;
    }
    .searc {
        left: 125px;
        top: 268px;
        padding: 45px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .titile {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 45px;
        background: rgba(49, 49, 49, 0.5);
        top: 23%;
        left: 25%;
        text-align: center;
        font-family: 'Marcellus', serif !important;
    }
    .ayurrr {
        font-family: 'Marcellus', serif !important;
        background: rgba(49, 49, 49, 0.7);
        right: 0;
        padding: 20px;
        margin-top: 0px;
        text-align: center;
    }
    .just {
        width: 100%;
    }
    .site-navbar .site-navigation .site-menu {
        padding-inline-start: 0px !important;
        margin-bottom: 0;
    }
    .site-navbar .site-navigation .site-menu>li>a {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 600;
        padding: 20px 0px;
        color: #000 !important;
        display: inline-block;
        text-decoration: none !important;
    }
    .locate .branch {
        padding: 20px 14px;
        color: white;
    }
    .locate {
        padding-left: 0;
        padding-right: 0;
        place-self: center;
        font-weight: 600;
    }
    .ayurveda {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 30px 30px;
        background: rgba(49, 49, 49, 0.5);
        top: 60px;
        right: 0;
    }
    .topp {
        background: rgb(0 0 0 / 70%);
        padding-left: 125px;
        position: relative;
        top: 38px;
    }
    .why {
        padding: 25px 0px;
        place-self: center !important;
    }
    .mb-140 {
        margin-bottom: 140px !important;
    }
    .content {
        padding: 12px 0px;
        position: absolute;
        bottom: 0;
        background: rgb(0 0 0 / 55%);
        right: 15px;
        left: 15px;
        font-family: 'Marcellus', serif;
    }
    .care .locate {
        position: absolute;
        padding: 50px;
        right: 0px;
        top: 23%;
        background: rgb(0 0 0 / 55%);
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .searc h3 {
        font-size: 20px;
        color: white;
        font-family: 'Marcellus', serif !important;
    }
    .branch .row {
        margin-right: 0px;
    }
    .appoii {
        background-color: #FEDA77 !important;
    }
    .searcc {
        right: 1px;
        top: 690px;
        padding: 35px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .branchh {
        margin-bottom: 40%;
    }
    .searc {
        left: unset;
        top: 750px;
        padding: 55px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .doctor .check {
        padding: 5px 15px !important;
        background-color: black !important;
        font-family: 'Marcellus', serif;
        color: white !important;
    }
    .prod {
        margin-top: 47px !important;
        padding: 30px !important;
    }
    .contact .form-control {
        border: none;
        border-bottom: 1px solid #FEDA77;
        border-radius: 0px;
        height: 40px;
    }
    .contact {
        font-family: 'Marcellus', serif !important;
        color: white;
        background: rgba(49, 49, 49, 0.8);
        padding: 25px;
    }
    .withus {
        max-width: 760px;
        bottom: 0px;
        position: relative;
        margin-bottom: 5px;
    }
    .touch {
        margin-top: 75px;
        margin-left: 0px;
        align-self: center;
        text-align: -webkit-left;
    }
    .curre {
        margin-bottom: 6rem !important;
    }
    .loc-sm {
        height: 60vh;
    }
    .locates {
        left: 0;
    }
    .vision p {
        color: black;
        padding: 10px;
        text-align: center;
    }
    .vision h2 {
        font-size: 25px;
        font-family: 'Marcellus', serif !important;
        font-weight: 600;
    }
    .vision {
        padding-top: 45%;
    }
    .ayurrr2 {
        margin-top: 0px !important;
        z-index: 10;
        padding: 0px 80px 0px 80px !important;
        background-color: white !important;
    }
    .ayur-sm p {
        color: black !important;
    }
    .ayurrr2 h2 {
        color: black !important;
    }
    .imgayur img {
        margin-top: 250px;
    }
    .ayurrr h2 {
        font-size: 30px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr p {
        line-height: 27px;
        font-size: 20px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr {
        left: 0;
        font-family: 'Marcellus', serif !important;
        background: rgba(49, 49, 49, 0.7);
        right: 0;
        padding: 65px;
        margin-top: 55px;
        text-align: center;
    }
    .aboout img {
        height: 90vh;
    }
    .titile span {
        font-size: 56px;
        font-weight: 600;
        line-height: 70px;
    }
    .titile h1 {
        font-weight: 100;
        font-size: 38px;
        font-family: 'Marcellus', serif !important;
    }
    .titile {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 20px;
        background: rgba(49, 49, 49, 0.7);
        top: unset;
        left: 192px;
        bottom: 0;
        text-align: center;
        font-family: 'Marcellus', serif !important;
    }
    .title-fit {
        height: 40vh;
    }
    .justih {
        justify-content: center;
    }
    .dd-none {
        display: none;
    }
    .dd-block {
        display: block;
    }
    .top-bar {
        padding: 15px 0;
        background: white;
        font-size: 18px;
    }
    .site-navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .search {
        padding: 20px 0px;
        display: none;
    }
    .site-navbar .toggle-button {
        font-size: 35px;
        position: absolute;
        left: 0px;
    }
    .locate {
        padding-right: 0px;
    }
    .banbg {
        height: 75vh;
    }
    .ayurveda {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 40px 30px;
        background: rgba(49, 49, 49, 0.5);
        top: 75px;
        right: 0;
    }
    .ayurveda h2 {
        font-family: 'Marcellus', serif !important;
        font-size: 30px;
        color: white;
    }
    .ayurveda h1 {
        font-family: 'Marcellus', serif;
        font-size: 40px;
        color: #FEDA77;
    }
    .svg-20 {
        width: 20px;
        height: 20px;
    }
    .svg-15 {
        width: 15px;
        height: 15px;
    }
    .overall {
        font-family: 'Marcellus', serif;
        font-size: 30px;
        color: #000000;
        text-align: center;
        margin: 20px 40px;
    }
    .orang {
        color: #FEDA77;
    }
    .sm-rela {
        position: relative;
    }
    .sm-absolu {
        position: absolute;
    }
    .about {
        font-family: 'Marcellus', serif;
        align-self: center;
        background: rgba(49, 49, 49, 0.5);
    }
    .aboutt {
        padding: 20px;
        text-align: center;
    }
    .about h2 {
        font-size: 30px;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .sm-rela img {
        height: 65vh;
    }
    .vector {
        margin: 15px !important;
    }
    .sm-overa {
        font-size: 20px;
        padding: 0px 0px;
        margin-bottom: 30px;
    }
    .sm-why {
        object-fit: none;
        height: 70vh;
        opacity: 1;
        filter: none;
    }
    .mr-100 {
        margin-right: 0px;
    }
    .topp {
        background: rgb(0 0 0 / 70%);
        padding-left: 30px;
        position: relative;
        top: 58px;
        margin-left: 80px;
        text-align: center;
    }
    .mb-150 {
        margin-bottom: 150px !important;
    }
    .linefont {
        font-size: 20px !important;
        margin: 25px 30px;
    }
    .treatment ul li {
        list-style: none;
        font-family: 'Marcellus', serif;
        font-size: 20px;
        padding: 7px 0px;
    }
    .treatment ul {
        padding-left: 90px;
    }
    .treatment img {
        width: 15px;
    }
    .treatment span {
        font-size: 22px;
        margin-left: 0px !important;
    }
    .content {
        padding: 25px 0px;
        position: absolute;
        bottom: 0;
        background: rgb(0 0 0 / 55%);
        right: 15px;
        left: 15px;
        font-family: 'Marcellus', serif;
    }
    .content h2 {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 30px;
        margin-bottom: 2px;
    }
    .content p {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .read {
        color: black !important;
        font-family: 'Marcellus', serif;
        background-color: #FBFBFB !important;
        padding: 8px 15px;
        border: none;
        font-size: 14px;
        font-weight: 600;
    }
    hr {
        border: none;
        height: 2px;
        color: #333;
        background-color: #FEDA77;
        margin-bottom: 0px !important;
    }
    .font-20 {
        font-size: 20px;
    }
    .care .locate {
        position: absolute;
        padding: 55px;
        right: 0px;
        top: unset;
        bottom: 0;
        background: rgb(0 0 0 / 65%);
    }
    .form-control {
        height: 40px;
        background-color: transparent;
    }
    .locate span {
        color: black;
        background-color: #FEDA77;
        border-color: #FEDA77;
        font-weight: 600;
        padding: 0px 25px;
        font-size: 15px;
    }
    .check {
        background-color: black;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .locates p {
        margin-bottom: 0px;
        font-size: 20px;
        color: white;
        font-family: 'Marcellus', serif;
    }
    .locates .ayt {
        background-color: transparent;
        color: #FEDA77;
        padding: 0 !important;
        font-size: 20px;
    }
    .flogo {
        justify-content: center;
    }
    .flocat {
        margin: 10px 35px;
    }
    .use ul li {
        padding: 2px 0px;
        font-size: 14px;
    }
    .use ul {
        list-style: none;
        padding: 0px;
        padding-left: 50px;
    }
    .use ul span {
        font-size: 15px;
        font-weight: 900;
        color: #FEDA77;
    }
    .use h5 {
        padding-left: 50px;
    }
    .use {
        color: white;
        padding: 0px;
    }
    .cont {
        color: #FEDA77;
        font-size: 18px;
    }
    .follow {
        text-align: center;
        color: white;
    }
    .copy {
        font-family: 'Marcellus', serif !important;
        color: white;
        font-size: 14px;
        text-align: center;
    }
    .makes {
        background-color: #313131 !important;
        color: white !important;
    }
}

@media only screen and (max-width:768px) {
    .searc h3 {
        font-size: 20px;
        color: white;
        font-family: 'Marcellus', serif !important;
    }
    .branch .row {
        margin-right: 0px;
    }
    .appoii {
        background-color: #FEDA77 !important;
    }
    .searcc {
        right: 1px;
        top: 690px;
        padding: 35px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .branchh {
        margin-bottom: 40%;
    }
    .searc {
        left: unset;
        top: 750px;
        padding: 55px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .doctor .check {
        padding: 5px 15px !important;
        background-color: black !important;
        font-family: 'Marcellus', serif;
        color: white !important;
    }
    .prod {
        margin-top: 47px !important;
        padding: 30px !important;
    }
    .contact .form-control {
        border: none;
        border-bottom: 1px solid #FEDA77;
        border-radius: 0px;
        height: 40px;
    }
    .contact {
        font-family: 'Marcellus', serif !important;
        color: white;
        background: rgba(49, 49, 49, 0.8);
        padding: 25px;
    }
    .withus {
        max-width: 760px;
        bottom: 0px;
        position: relative;
        margin-bottom: 5px;
    }
    .touch {
        margin-top: 75px;
        margin-left: 0px;
        align-self: center;
        text-align: -webkit-left;
    }
    .curre {
        margin-bottom: 6rem !important;
    }
    .loc-sm {
        height: 60vh;
    }
    .locates {
        left: 0;
    }
    .vision p {
        color: black;
        padding: 10px;
        text-align: center;
    }
    .vision h2 {
        font-size: 25px;
        font-family: 'Marcellus', serif !important;
        font-weight: 600;
    }
    .vision {
        padding-top: 45%;
    }
    .ayurrr2 {
        margin-top: 0px !important;
        z-index: 10;
        padding: 0px 80px 0px 80px !important;
        background-color: white !important;
    }
    .ayur-sm p {
        color: black !important;
    }
    .ayurrr2 h2 {
        color: black !important;
    }
    .imgayur img {
        margin-top: 250px;
    }
    .ayurrr h2 {
        font-size: 30px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr p {
        line-height: 27px;
        font-size: 20px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr {
        left: 0;
        font-family: 'Marcellus', serif !important;
        background: rgba(49, 49, 49, 0.7);
        right: 0;
        padding: 65px;
        margin-top: 55px;
        text-align: center;
    }
    .aboout img {
        height: 90vh;
    }
    .titile span {
        font-size: 56px;
        font-weight: 600;
        line-height: 70px;
    }
    .titile h1 {
        font-weight: 100;
        font-size: 38px;
        font-family: 'Marcellus', serif !important;
    }
    .titile {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 20px;
        background: rgba(49, 49, 49, 0.7);
        top: unset;
        left: 192px;
        bottom: 0;
        text-align: center;
        font-family: 'Marcellus', serif !important;
    }
    .title-fit {
        height: 40vh;
    }
    .justih {
        justify-content: center;
    }
    .dd-none {
        display: none;
    }
    .dd-block {
        display: block;
    }
    .top-bar {
        padding: 15px 0;
        background: white;
        font-size: 18px;
    }
    .site-navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .search {
        padding: 20px 0px;
        display: none;
    }
    .site-navbar .toggle-button {
        font-size: 35px;
        position: absolute;
        left: 0px;
    }
    .locate {
        padding-right: 0px;
    }
    .banbg {
        height: 75vh;
    }
    .ayurveda {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 40px 30px;
        background: rgba(49, 49, 49, 0.5);
        top: 75px;
        right: 0;
    }
    .ayurveda h2 {
        font-family: 'Marcellus', serif !important;
        font-size: 30px;
        color: white;
    }
    .ayurveda h1 {
        font-family: 'Marcellus', serif;
        font-size: 40px;
        color: #FEDA77;
    }
    .svg-20 {
        width: 20px;
        height: 20px;
    }
    .svg-15 {
        width: 15px;
        height: 15px;
    }
    .overall {
        font-family: 'Marcellus', serif;
        font-size: 30px;
        color: #000000;
        text-align: center;
        margin: 20px 40px;
    }
    .orang {
        color: #FEDA77;
    }
    .sm-rela {
        position: relative;
    }
    .sm-absolu {
        position: absolute;
    }
    .about {
        font-family: 'Marcellus', serif;
        align-self: center;
        background: rgba(49, 49, 49, 0.5);
    }
    .aboutt {
        padding: 20px;
        text-align: center;
    }
    .about h2 {
        font-size: 30px;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .sm-rela img {
        height: 65vh;
    }
    .vector {
        margin: 15px !important;
    }
    .sm-overa {
        font-size: 20px;
        padding: 0px 0px;
        margin-bottom: 30px;
    }
    .sm-why {
        object-fit: none;
        height: 70vh;
        opacity: 1;
        filter: none;
    }
    .mr-100 {
        margin-right: 0px;
    }
    .topp {
        background: rgb(0 0 0 / 70%);
        padding-left: 30px;
        position: relative;
        top: 58px;
        margin-left: 80px;
        text-align: center;
    }
    .mb-150 {
        margin-bottom: 150px !important;
    }
    .linefont {
        font-size: 20px !important;
        margin: 25px 30px;
    }
    .treatment ul li {
        list-style: none;
        font-family: 'Marcellus', serif;
        font-size: 20px;
        padding: 7px 0px;
    }
    .treatment ul {
        padding-left: 90px;
    }
    .treatment img {
        width: 15px;
    }
    .treatment span {
        font-size: 22px;
        margin-left: 0px !important;
    }
    .content {
        padding: 25px 0px;
        position: absolute;
        bottom: 0;
        background: rgb(0 0 0 / 55%);
        right: 15px;
        left: 15px;
        font-family: 'Marcellus', serif;
    }
    .content h2 {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 30px;
        margin-bottom: 2px;
    }
    .content p {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .read {
        color: black !important;
        font-family: 'Marcellus', serif;
        background-color: #FBFBFB !important;
        padding: 8px 15px;
        border: none;
        font-size: 14px;
        font-weight: 600;
    }
    hr {
        border: none;
        height: 2px;
        color: #333;
        background-color: #FEDA77;
        margin-bottom: 0px !important;
    }
    .font-20 {
        font-size: 20px;
    }
    .care .locate {
        position: absolute;
        padding: 55px;
        right: 0px;
        top: unset;
        bottom: 0;
        background: rgb(0 0 0 / 65%);
    }
    .form-control {
        height: 40px;
        background-color: transparent;
    }
    .locate span {
        color: black;
        background-color: #FEDA77;
        border-color: #FEDA77;
        font-weight: 600;
        padding: 0px 25px;
        font-size: 15px;
    }
    .check {
        background-color: black;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .locates p {
        margin-bottom: 0px;
        font-size: 20px;
        color: white;
        font-family: 'Marcellus', serif;
    }
    .locates .ayt {
        background-color: transparent;
        color: #FEDA77;
        padding: 0 !important;
        font-size: 20px;
    }
    .flogo {
        justify-content: center;
    }
    .flocat {
        margin: 10px 35px;
    }
    .use ul li {
        padding: 2px 0px;
        font-size: 14px;
    }
    .use ul {
        list-style: none;
        padding: 0px;
        padding-left: 50px;
    }
    .use ul span {
        font-size: 15px;
        font-weight: 900;
        color: #FEDA77;
    }
    .use h5 {
        padding-left: 50px;
    }
    .use {
        color: white;
        padding: 0px;
    }
    .cont {
        color: #FEDA77;
        font-size: 18px;
    }
    .follow {
        text-align: center;
        color: white;
    }
    .copy {
        font-family: 'Marcellus', serif !important;
        color: white;
        font-size: 14px;
        text-align: center;
    }
    .makes {
        background-color: #313131 !important;
        color: white !important;
    }
}

@media only screen and (max-width:576px) {
    #popuppp {
        background-color: transparent;
        left: 8%;
        bottom: 25%;
    }
    .sm-font {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .d-sm-none {
        display: none;
    }
    .poupup .pl-5 {
        padding-left: 5px !important;
        margin-bottom: 5px !important;
    }
    .poupup ul {
        padding-left: 20px !important;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 0px;
    }
    .bottom-50 {
        left: 0%;
        bottom: 5%;
        z-index: 9999;
        background-color: #22201a;
    }
    #popuppw {
        left: 0;
        bottom: 0;
    }
    .sm-mg {
        margin: 0px 0 6px 0 !important;
    }
    .poupup p {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 5px;
    }
    .poupup h5 {
        font-size: 15px;
    }
    .poupup h3 {
        font-size: 20px;
    }
    .branch .row {
        margin-right: 0px;
    }
    .appoii {
        background-color: #FEDA77 !important;
    }
    .searcc {
        right: unset;
        top: 835px;
        padding: 35px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .branchh {
        margin-bottom: 77%;
    }
    .searc {
        left: unset;
        top: 650px;
        padding: 55px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .doctor .check {
        background-color: black !important;
        font-family: 'Marcellus', serif;
        color: white !important;
    }
    .prod {
        left: unset !important;
        margin-top: 35px !important;
        padding: 25px !important;
    }
    .prod p {
        padding: 0px;
    }
    .proimag {
        height: 87vh;
        margin-bottom: 15px;
    }
    .pro {
        height: 240px;
    }
    .touch {
        margin-bottom: 150px;
        margin-top: 40px;
        margin-left: 0px;
        align-self: center;
        text-align: -webkit-left;
    }
    .withus {
        bottom: 0px;
        position: relative;
        margin-bottom: -130px;
    }
    .curre {
        margin-bottom: 6rem !important;
    }
    .loc-sm {
        height: 40vh;
    }
    .locates {
        left: 0;
    }
    .vision p {
        color: black;
        padding: 10px;
        text-align: center;
    }
    .vision h2 {
        font-size: 25px;
        font-family: 'Marcellus', serif !important;
        font-weight: 600;
    }
    .vision {
        padding-top: 40%;
    }
    .ayurrr2 {
        margin-top: 0px !important;
        z-index: 10;
        padding: 0px 40px 0px 40px !important;
        background-color: white !important;
    }
    .ayur-sm p {
        color: black !important;
    }
    .ayurrr2 h2 {
        color: black !important;
    }
    .imgayur img {
        margin-top: 250px;
    }
    .ayurrr h2 {
        font-size: 25px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr p {
        line-height: 25px;
        font-size: 17px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr {
        left: 0;
        font-family: 'Marcellus', serif !important;
        background: rgba(49, 49, 49, 0.7);
        right: 0;
        padding: 50px;
        margin-top: 50px;
        text-align: center;
    }
    .aboout img {
        height: 90vh;
    }
    .titile span {
        font-size: 56px;
        font-weight: 600;
        line-height: 70px;
    }
    .titile h1 {
        font-weight: 100;
        font-size: 38px;
        font-family: 'Marcellus', serif !important;
    }
    .titile {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 20px;
        background: rgba(49, 49, 49, 0.7);
        top: unset;
        left: 96px;
        bottom: 0;
        text-align: center;
        font-family: 'Marcellus', serif !important;
    }
    .title-fit {
        height: 40vh;
        object-fit: cover;
    }
    .dd-none {
        display: none;
    }
    .top-bar {
        padding: 15px 0;
        background: white;
        font-size: 18px;
    }
    .site-navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .search {
        padding: 20px 0px;
        display: none;
    }
    .site-navbar .toggle-button {
        font-size: 35px;
        position: absolute;
        left: 0px;
    }
    .locate {
        padding-right: 0px;
    }
    .banbg {
        height: 75vh;
    }
    .ayurveda {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 40px 30px;
        background: rgba(49, 49, 49, 0.5);
        top: 65px;
        right: 0;
    }
    .ayurveda h2 {
        font-family: 'Marcellus', serif !important;
        font-size: 30px;
        color: white;
    }
    .ayurveda h1 {
        font-family: 'Marcellus', serif;
        font-size: 40px;
        color: #FEDA77;
    }
    .svg-20 {
        width: 20px;
        height: 20px;
    }
    .svg-15 {
        width: 15px;
        height: 15px;
    }
    .overall {
        font-family: 'Marcellus', serif;
        font-size: 30px;
        color: #000000;
        text-align: center;
        margin: 10px 50px;
    }
    .orang {
        color: #FEDA77;
    }
    .sm-rela {
        position: relative;
    }
    .sm-absolu {
        position: absolute;
    }
    .about {
        font-family: 'Marcellus', serif;
        align-self: center;
        background: rgba(49, 49, 49, 0.5);
    }
    .aboutt {
        padding: 20px;
        text-align: center;
    }
    .about h2 {
        font-size: 30px;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .sm-rela img {
        height: 65vh;
    }
    .vector {
        margin: 15px !important;
    }
    .sm-overa {
        font-size: 20px;
        padding: 0px 0px;
        margin-bottom: 30px;
    }
    .sm-why {
        object-fit: none;
        height: 70vh;
        opacity: 1;
        filter: none;
    }
    .mr-100 {
        margin-right: 0px;
    }
    .topp {
        background: rgb(0 0 0 / 70%);
        padding-left: 30px;
        position: relative;
        top: 49px;
        margin-left: 80px;
        text-align: center;
    }
    .mb-150 {
        margin-bottom: 150px !important;
    }
    .linefont {
        font-size: 20px !important;
        margin: 25px 30px;
    }
    .treatment ul li {
        list-style: none;
        font-family: 'Marcellus', serif;
        font-size: 20px;
        padding: 5px 0px;
    }
    .treatment ul {
        padding-left: 50px;
    }
    .treatment img {
        width: 15px;
    }
    .treatment span {
        font-size: 18px;
        margin-left: 0px !important;
    }
    .content {
        padding: 15px 0px;
        position: absolute;
        bottom: 0;
        background: rgb(0 0 0 / 55%);
        right: 15px;
        left: 15px;
        font-family: 'Marcellus', serif;
    }
    .content h2 {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 20px;
        margin-bottom: 2px;
    }
    .content p {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
    }
    .read {
        color: black !important;
        font-family: 'Marcellus', serif;
        background-color: #FBFBFB !important;
        padding: 3px 10px;
        border: none;
        font-size: 14px;
        font-weight: 600;
    }
    hr {
        border: none;
        height: 2px;
        color: #333;
        background-color: #FEDA77;
        margin-bottom: 0px !important;
    }
    .font-20 {
        font-size: 20px;
    }
    .care .locate {
        position: absolute;
        padding: 25px 60px;
        right: 0px;
        top: unset;
        bottom: 0;
        background: rgb(0 0 0 / 65%);
    }
    .form-control {
        height: 40px;
        background-color: transparent;
    }
    .locate span {
        color: black;
        background-color: #FEDA77;
        border-color: #FEDA77;
        font-weight: 600;
        padding: 0px 25px;
        font-size: 15px;
    }
    .check {
        background-color: black;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .locates p {
        margin-bottom: 0px;
        font-size: 20px;
        color: white;
        font-family: 'Marcellus', serif;
    }
    .locates .ayt {
        background-color: transparent;
        color: #FEDA77;
        padding: 0 !important;
        font-size: 20px;
    }
    .flogo {
        justify-content: center;
    }
    .flocat {
        margin: 0;
    }
    .use ul li {
        padding: 2px 0px;
        font-size: 14px;
    }
    .use ul {
        list-style: none;
        padding: 0px;
        padding-left: 50px;
    }
    .use ul span {
        font-size: 15px;
        font-weight: 900;
        color: #FEDA77;
    }
    .use h5 {
        padding-left: 50px;
    }
    .use {
        color: white;
        padding: 0px;
    }
    .cont {
        color: #FEDA77;
        font-size: 18px;
    }
    .follow {
        text-align: center;
        color: white;
    }
    .copy {
        font-family: 'Marcellus', serif !important;
        color: white;
        font-size: 14px;
        text-align: center;
    }
    .makes {
        background-color: #313131 !important;
        color: white !important;
    }
}

@media only screen and (max-width:414px) {
    .branch .row {
        margin-right: 0px;
    }
    .appoii {
        background-color: #FEDA77 !important;
    }
    .searcc {
        right: unset;
        top: 815px;
        padding: 35px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .branchh {
        margin-bottom: 102%;
    }
    .searc {
        left: unset;
        top: 640px;
        padding: 55px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .doctor .check {
        background-color: black !important;
        font-family: 'Marcellus', serif;
        color: white !important;
    }
    .prod p {
        padding: 0px;
    }
    .proimag {
        height: 86vh;
        margin-bottom: 15px;
    }
    .pro {
        height: 200px;
    }
    .touch {
        margin-bottom: 150px;
        margin-top: 40px;
        margin-left: 0px;
        align-self: center;
        text-align: -webkit-left;
    }
    .withus {
        bottom: 0px;
        position: relative;
        margin-bottom: -130px;
    }
    .curre {
        margin-bottom: 6rem !important;
    }
    .loc-sm {
        height: 40vh;
    }
    .locates {
        left: 0;
    }
    .vision p {
        color: black;
        padding: 10px;
        text-align: center;
    }
    .vision h2 {
        font-size: 25px;
        font-family: 'Marcellus', serif !important;
        font-weight: 600;
    }
    .vision {
        padding-top: 30%;
    }
    .ayurrr2 {
        margin-top: 0px !important;
        z-index: 10;
        padding: 40px;
        background-color: white !important;
    }
    .ayur-sm p {
        color: black !important;
    }
    .ayurrr2 h2 {
        color: black !important;
    }
    .imgayur img {
        margin-top: 336px;
    }
    .ayurrr h2 {
        font-size: 25px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr p {
        line-height: 22px;
        font-size: 17px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr {
        left: 0;
        font-family: 'Marcellus', serif !important;
        background: rgba(49, 49, 49, 0.7);
        right: 0;
        padding: 20px;
        margin-top: 37px;
        text-align: center;
    }
    .aboout img {
        height: 90vh;
        object-fit: cover;
    }
    .titile span {
        font-size: 45px;
        font-weight: 600;
        line-height: 70px;
    }
    .titile h1 {
        font-weight: 100;
        font-size: 35px;
        font-family: 'Marcellus', serif !important;
    }
    .titile {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 15px;
        background: rgba(49, 49, 49, 0.7);
        top: unset;
        left: 69px;
        bottom: 0;
        text-align: center;
        font-family: 'Marcellus', serif !important;
    }
    .title-fit {
        height: 30vh;
        object-fit: cover;
        object-position: center;
    }
    .dd-none {
        display: none;
    }
    .top-bar {
        padding: 15px 0;
        background: white;
        font-size: 18px;
    }
    .site-navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .search {
        padding: 20px 0px;
        display: none;
    }
    .site-navbar .toggle-button {
        font-size: 35px;
        position: absolute;
        left: 0px;
    }
    .locate {
        padding-right: 0px;
    }
    .banbg {
        height: 65vh;
        object-fit: cover;
    }
    .ayurveda {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 40px 30px;
        background: rgba(49, 49, 49, 0.5);
        top: 70px;
        right: 0;
    }
    .ayurveda h2 {
        font-family: 'Marcellus', serif !important;
        font-size: 30px;
        color: white;
    }
    .ayurveda h1 {
        font-family: 'Marcellus', serif;
        font-size: 40px;
        color: #FEDA77;
    }
    .svg-20 {
        width: 20px;
        height: 20px;
    }
    .svg-15 {
        width: 15px;
        height: 15px;
    }
    .overall {
        font-family: 'Marcellus', serif;
        font-size: 25px;
        color: #000000;
        text-align: center;
        margin: 10px 15px;
    }
    .orang {
        color: #FEDA77;
    }
    .sm-rela {
        position: relative;
    }
    .sm-absolu {
        position: absolute;
    }
    .about {
        font-family: 'Marcellus', serif;
        align-self: center;
        background: rgba(49, 49, 49, 0.5);
    }
    .aboutt {
        padding: 20px;
        text-align: center;
    }
    .about h2 {
        font-size: 30px;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .sm-rela img {
        height: 60vh;
    }
    .vector {
        margin: 15px !important;
    }
    .sm-overa {
        font-size: 20px;
        padding: 5px 40px;
        margin-bottom: 30px;
    }
    .sm-why {
        object-fit: none;
        height: 70vh;
        opacity: 1;
        filter: none;
    }
    .mr-100 {
        margin-right: 0px;
    }
    .topp {
        background: rgb(0 0 0 / 70%);
        padding-left: 30px;
        position: relative;
        top: 64px;
        margin-left: 80px;
        text-align: center;
    }
    .mb-150 {
        margin-bottom: 150px !important;
    }
    .linefont {
        font-size: 20px !important;
        margin: 25px 30px;
    }
    .treatment ul li {
        list-style: none;
        font-family: 'Marcellus', serif;
        font-size: 20px;
        padding: 5px 0px;
    }
    .treatment ul {
        padding-left: 10px;
    }
    .treatment img {
        width: 15px;
    }
    .treatment span {
        font-size: 15px;
        margin-left: 0px !important;
    }
    .content {
        padding: 5px 0px;
        position: absolute;
        bottom: 0;
        background: rgb(0 0 0 / 55%);
        right: 15px;
        left: 15px;
        font-family: 'Marcellus', serif;
    }
    .content h2 {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 16px;
        margin-bottom: 2px;
    }
    .content p {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    .read {
        color: black;
        font-family: 'Marcellus', serif;
        background-color: #FBFBFB;
        padding: 3px 10px;
        border: none;
        font-size: 14px;
        font-weight: 600;
    }
    hr {
        border: none;
        height: 2px;
        color: #333;
        background-color: #FEDA77;
        margin-bottom: 0px !important;
    }
    .font-20 {
        font-size: 20px;
    }
    .care .locate {
        position: absolute;
        padding: 20px 25px;
        right: 0px;
        top: unset;
        bottom: 0;
        background: rgb(0 0 0 / 65%);
    }
    .form-control {
        height: 40px;
        background-color: transparent;
    }
    .locate span {
        color: black;
        background-color: #FEDA77;
        border-color: #FEDA77;
        font-weight: 600;
        padding: 0px 25px;
        font-size: 15px;
    }
    .check {
        background-color: black;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .locates p {
        margin-bottom: 0px;
        font-size: 20px;
        color: white;
        font-family: 'Marcellus', serif;
    }
    .locates .ayt {
        background-color: transparent;
        color: #FEDA77;
        padding: 0 !important;
        font-size: 20px;
    }
    .flogo {
        justify-content: center;
    }
    .flocat {
        margin: 0;
    }
    .use ul li {
        padding: 2px 0px;
        font-size: 14px;
    }
    .use ul {
        list-style: none;
        padding: 0px;
        padding-left: 10px;
    }
    .use ul span {
        font-size: 15px;
        font-weight: 900;
        color: #FEDA77;
    }
    .use h5 {
        padding-left: 10px;
    }
    .use {
        color: white;
        padding: 0px;
    }
    .cont {
        color: #FEDA77;
        font-size: 18px;
    }
    .follow {
        text-align: center;
        color: white;
    }
    .copy {
        font-family: 'Marcellus', serif !important;
        color: white;
        font-size: 14px;
        text-align: center;
    }
}

@media only screen and (max-width:360px) {
    .branch .row {
        margin-right: 0px;
    }
    .appoii {
        background-color: #FEDA77 !important;
    }
    .searcc {
        right: unset;
        top: 815px;
        padding: 35px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .branchh {
        margin-bottom: 102%;
    }
    .searc {
        left: unset;
        top: 640px;
        padding: 55px 0px;
        background: rgb(0 0 0 / 65%);
        text-align: -webkit-center;
    }
    .doctor .check {
        background-color: black !important;
        font-family: 'Marcellus', serif;
        color: white !important;
    }
    .prod p {
        padding: 0px;
    }
    .proimag {
        height: 86vh;
        margin-bottom: 15px;
    }
    .pro {
        height: 200px;
    }
    .touch {
        margin-bottom: 150px;
        margin-top: 40px;
        margin-left: 0px;
        align-self: center;
        text-align: -webkit-left;
    }
    .withus {
        bottom: 0px;
        position: relative;
        margin-bottom: -130px;
    }
    .curre {
        margin-bottom: 6rem !important;
    }
    .loc-sm {
        height: 40vh;
    }
    .locates {
        left: 0;
    }
    .vision p {
        color: black;
        padding: 10px;
        text-align: center;
    }
    .vision h2 {
        font-size: 25px;
        font-family: 'Marcellus', serif !important;
        font-weight: 600;
    }
    .vision {
        padding-top: 30%;
    }
    .ayurrr2 {
        margin-top: 0px !important;
        z-index: 10;
        padding: 40px;
        background-color: white !important;
    }
    .ayur-sm p {
        color: black !important;
    }
    .ayurrr2 h2 {
        color: black !important;
    }
    .imgayur img {
        margin-top: 336px;
    }
    .ayurrr h2 {
        font-size: 25px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr p {
        line-height: 22px;
        font-size: 17px;
        font-family: 'Marcellus', serif !important;
        color: white;
    }
    .ayurrr {
        left: 0;
        font-family: 'Marcellus', serif !important;
        background: rgba(49, 49, 49, 0.7);
        right: 0;
        padding: 20px;
        margin-top: 37px;
        text-align: center;
    }
    .aboout img {
        height: 90vh;
    }
    .titile span {
        font-size: 45px;
        font-weight: 600;
        line-height: 70px;
    }
    .titile h1 {
        font-weight: 100;
        font-size: 35px;
        font-family: 'Marcellus', serif !important;
    }
    .titile {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 15px;
        background: rgba(49, 49, 49, 0.7);
        top: unset;
        left: 69px;
        bottom: 0;
        text-align: center;
        font-family: 'Marcellus', serif !important;
    }
    .title-fit {
        height: 40vh;
    }
    .dd-none {
        display: none;
    }
    .top-bar {
        padding: 5px 0;
        background: white;
        font-size: 18px;
    }
    .locate .branch {
        padding: 15px 10px;
        color: white;
    }
    .site-navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .search {
        padding: 20px 0px;
        display: none;
    }
    .site-navbar .toggle-button {
        font-size: 35px;
        position: absolute;
        left: 0px;
    }
    .locate {
        padding-right: 0px;
    }
    .banbg {
        height: 82vh;
    }
    .ayurveda {
        position: absolute;
        font-family: 'Marcellus', serif !important;
        padding: 30px 25px;
        background: rgba(49, 49, 49, 0.5);
        top: 70px;
        right: 0;
    }
    .ayurveda h2 {
        font-family: 'Marcellus', serif !important;
        font-size: 30px;
        color: white;
    }
    .ayurveda h1 {
        font-family: 'Marcellus', serif;
        font-size: 40px;
        color: #FEDA77;
    }
    .svg-20 {
        width: 20px;
        height: 20px;
    }
    .svg-15 {
        width: 15px;
        height: 15px;
    }
    .overall {
        font-family: 'Marcellus', serif;
        font-size: 20px;
        color: #000000;
        text-align: center;
        margin: -5px 10px;
    }
    .orang {
        color: #FEDA77;
    }
    .sm-rela {
        position: relative;
    }
    .sm-absolu {
        position: absolute;
    }
    .about {
        font-family: 'Marcellus', serif;
        align-self: center;
        background: rgba(49, 49, 49, 0.5);
    }
    .aboutt {
        padding: 10px;
        text-align: center;
    }
    .about h2 {
        font-size: 20px;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .about p {
        font-size: 15px;
        color: #ffffff;
    }
    .sm-rela img {
        height: 60vh;
    }
    .vector {
        margin: 15px !important;
    }
    .sm-overa {
        font-size: 20px;
        padding: 5px 40px;
        margin-bottom: 30px;
    }
    .sm-why {
        object-fit: none;
        height: 70vh;
        opacity: 1;
        filter: none;
    }
    .mr-100 {
        margin-right: 0px;
    }
    .topp {
        background: rgb(0 0 0 / 70%);
        padding-left: 30px;
        position: relative;
        top: 50px;
        margin-left: 80px;
        text-align: center;
    }
    .mb-150 {
        margin-bottom: 110px !important;
    }
    .linefont {
        font-size: 16px !important;
        margin: 25px 30px;
    }
    .treatment ul li {
        list-style: none;
        font-family: 'Marcellus', serif;
        font-size: 20px;
        padding: 5px 0px;
    }
    .treatment ul {
        padding-left: 10px;
    }
    .treatment img {
        width: 15px;
    }
    .treatment span {
        font-size: 13px;
        margin-left: 0px !important;
    }
    .treatment {
        margin: -30px -15px;
    }
    .content {
        padding: 5px 0px;
        position: absolute;
        bottom: 0;
        background: rgb(0 0 0 / 55%);
        right: 15px;
        left: 15px;
        font-family: 'Marcellus', serif;
    }
    .content h2 {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 14px;
        margin-bottom: 1px;
    }
    .content p {
        color: white;
        font-family: 'Marcellus', serif;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0px;
    }
    .read {
        color: black;
        font-family: 'Marcellus', serif;
        background-color: #FBFBFB;
        padding: 0px 6px;
        border: none;
        font-size: 12px;
        font-weight: 600;
    }
    hr {
        border: none;
        height: 2px;
        color: #333;
        background-color: #FEDA77;
        margin-bottom: 0px !important;
    }
    .font-20 {
        font-size: 16px;
    }
    .care .locate {
        margin-bottom: 10px;
        position: absolute;
        padding: 20px 25px;
        right: 0px;
        top: unset;
        bottom: 0;
        background: rgb(0 0 0 / 65%);
    }
    .form-control {
        height: 40px;
        background-color: transparent;
    }
    .locate span {
        color: black;
        background-color: #FEDA77;
        border-color: #FEDA77;
        font-weight: 600;
        padding: 0px 25px;
        font-size: 15px;
    }
    .check {
        background-color: black;
        font-family: 'Marcellus', serif;
        color: white;
    }
    .locates p {
        margin-bottom: 0px;
        font-size: 20px;
        color: white;
        font-family: 'Marcellus', serif;
    }
    .locates .ayt {
        background-color: transparent;
        color: #FEDA77;
        padding: 0 !important;
        font-size: 20px;
    }
    .flogo {
        justify-content: center;
    }
    .flocat {
        margin: 0;
    }
    .use ul li {
        padding: 2px 0px;
        font-size: 14px;
    }
    .use ul {
        list-style: none;
        padding: 0px;
        padding-left: 10px;
    }
    .use ul span {
        font-size: 15px;
        font-weight: 900;
        color: #FEDA77;
    }
    .use h5 {
        padding-left: 10px;
    }
    .use {
        color: white;
        padding: 0px;
    }
    .cont {
        color: #FEDA77;
        font-size: 18px;
    }
    .follow {
        text-align: center;
        color: white;
    }
    .copy {
        font-family: 'Marcellus', serif !important;
        color: white;
        font-size: 14px;
        text-align: center;
    }
}