<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700;800;900;1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="css/fonts,_icomoon,_style.css+css,_owl.carousel.min.css+css,_bootstrap.min.css+css,_style.css.pagespeed.cc.11YcxEXwqA.css" />
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/icofont/icofont.min.css">

    <title>Ayurcare | Contact </title>
</head>

<body>

     <!-- start Header -->
    
     <nav class="site-navigationn" role="navigation">
        <div id="closse"><span class="closse iconify" data-icon="ant-design:close-circle-outlined"></span></div> 
         <ul class="navigationn-ul p-5" >
             <li><a href="index.html" class="nav-link ">HOME</a></li>
             <li><a href="aboutus.html" class="nav-link ">ABOUT US</a></li>
             <li><a href="products.html" class="nav-link">PRODUCTS</a></li>
             <li><a href="gallery.html" class="nav-link ">GALLERY</a></li>
             <li><a href="contact.html" class="nav-link active">CONTACT US</a></li>
             <li><a href="doctor.html" class="nav-link">OUR DOCTORS</a></li>
         </ul>
     </nav>
     <div class="site-mobile-menu site-navbar-target">
         <div class="site-mobile-menu-header">
             <div class="site-mobile-menu-close mt-3">
                 <span class="icon-close2 js-menu-toggle"></span>
             </div>
         </div>
         <div class="site-mobile-menu-body"></div>
     </div>
     <div class="top-bar" id="hre1">
         <div class="container">
             <div class="row justih">
                 <div class="col-lg-4 col-4 dd-none">
    
    
                     <a href="#" class="pr-2"><span class="iconify" data-icon="bi:twitter"></span> </a>
                     <a href="#" class="pr-2"><span class="iconify" data-icon="bi:facebook"></span> </a>
                     <a href="#" class=""><span class="iconify" data-icon="bi:instagram"></span> </a>
    
                 </div>
                 <div class="col-lg-4 col-4 text-center">
                     <h2 style="font-weight: 800;">LOGO</h2>
                 </div>
                 <div class="col-lg-4 col-4 dd-none text-center">
                     <a href="mailto:info@ayucare.com" class="mr-3">info@ayucare.com</a>
                     <a href="tel:+919876543210" class=""><span class="d-none d-md-inline-block">(+91)9876543210</span></a>
                 </div>
             </div>
         </div>
     </div>
     </div>
     <header id="header" class="site-navbar js-sticky-header site-navbar-target" role="banner">
         <div class="container-fluid p-0">
             <div class="row position-relative">
    
                 
    
                 <div class="col-lg-8 col-8">
                     <nav class="site-navigation" role="navigation">
                         <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                             <li><a href="index.html" class="nav-link ">HOME</a></li>
                             <li><a href="aboutus.html" class="nav-link">ABOUT US</a></li>
                             <li><a href="products.html" class="nav-link">PRODUCTS</a></li>
                             <li><a href="gallery.html" class="nav-link ">GALLERY</a></li>
                             <li><a href="contact.html" class="nav-link active">CONTACT US</a></li>
                             <li><a href="doctor.html" class="nav-link">OUR DOCTORS</a></li>
                         </ul>
                     </nav>
                 </div>
                 <div class="col-lg-1 col-1 search">
                     <a href="#"><span class="iconify" data-icon="bi:search"></span> </a>
                 </div>
                 <div class="col-lg-2 locate">
                     <a href="branch.html" class="branch float-right">LOCATE BRANCH</a>
                 </div>
                 <div class="toggle-button d-inline-block d-lg-none"><a href="#" style="color: black;" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="iconify text-black" data-icon="gg:menu"></span></a>
                 </div>
             </div>
         </div>
     </header>
    

  

     <!-- end Header -->
    

 



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 p-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.110187005998!2d75.87952991411952!3d11.179476854683239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65139406d4f89%3A0x33b6fe42026767fd!2sGedexo!5e0!3m2!1sen!2sin!4v1635162590022!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>




<div class="container withus">
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 contact">
            <form action="" method="post">
                <h3 class="mb-4">Contact Details</h3>
                <input class="form-control" name="name" placeholder="Name..." /><br />
                <input class="form-control" name="phone" placeholder="Phone..." /><br />
                <input class="form-control" name="email" placeholder="E-mail..." /><br />
                <textarea class="form-control" name="text" placeholder="Message" style="height:120px;"></textarea><br />
                <button class="btn btn-primaryy" type="submit">SEND MESSAGE</button>
              </form>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 col-12 touch">
            <h4 class="text-center mb-3">Get in Touch with Us</h4>
            <p class="mb-3">For any queries or clarifications regarding Kerala Ayurveda products or its services feel free to get in touch with us at anytime</p>
            <a class="" href="mailto:info@ayucare.com"> <span class="iconify mr-3 cont" data-icon="ant-design:mail-twotone"></span>info@ayucare.com</a> <br><br>
            <a class="" href="tel:+919876543210"> <span class="iconify mr-3 cont" data-icon="cil:mobile"></span>(+91) 987 654 32 10</a> <br><br>
            <h5><span class="iconify mr-3 cont" data-icon="cil:building"></span>Lorem Ipsum(Head Office)</h5>
            <p class="mb-1 ml-20">Registered Office – Head Office</p>
            <p class="mb-1 ml-20">Lorem ipsum - 678 678</p>
        </div>
    </div>
</div>


 <!-- start footer -->
 <footer >
    <div class="container">
        <div class="row pt-5 pb-3">

            <div class="mb-3 col-lg-3 col-md-12 col-sm-12 col-12 f1">
                <div class="row mb-5 flogo"><h3 class="text-white">LOGO</h3></div>
                <div class="row mt-10 flocat">
                    <div class=" input-group ">
                    <input type="text" class="form-control form-controll" placeholder="Locate us" aria-label="Locate us" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text input-group-textt" style="background-color:#feda77; border-color: #feda77;" id="basic-addon2"><span class="iconify input-group-textt" data-icon="fluent:location-28-filled"></span></span>
                    </div>
                  </div>
                </div>
            </div>
            <div class="mb-3 col-lg-3 col-md-6 col-sm-6 col-6 f2 use pl-3">
                <h5>Useful Links</h5>
                <ul>
                   <a href="aboutus.html"><li> <span> > </span>ABOUT US</li></a> 
                   <a href="products.html"><li> <span> > </span>PRODUCTS</li></a> 
                   <a href="gallery.html"><li> <span> > </span>GALLERY</li></a> 
                   <a href="contact.html"><li> <span> > </span>CONTACT US</li></a> 
                   <a href="doctor.html"><li> <span> > </span>OUR DOCTORS</li></a> 
                    
                </ul>
            </div>
            <div class="mb-3 col-lg-3 col-md-6 col-sm-6 col-6 f3 use">
                <h5>Contact Us</h5>
                <ul>
                   <a href="mailto:info@ayucare.com"><li> <span class="iconify mr-2 cont" data-icon="ant-design:mail-twotone"></span>info@ayucare.com</li></a> 
                   <a href="tel:+919876543210"><li> <span class="iconify mr-2 cont" data-icon="cil:mobile"></span>(+91)9876543210</li></a> 
                   
                    
                </ul>
            </div>
            <div class="mb-3 col-lg-3 col-md-12 col-sm-12 col-12 f4 follow">

                    Follow Us on
                    <a href="#" class="ml-2 pr-2"><span class="iconify" data-icon="bi:twitter"></span> </a>
                    <a href="#" class="pr-2"><span class="iconify" data-icon="bi:facebook"></span> </a>
                    <a href="#" class=""><span class="iconify" data-icon="bi:instagram"></span> </a>
            </div>

        </div>
        <div class="row justify-content-center copy"><p>Copyright © 2021. All rights reserved.Design by <a style="color: #feda77;" href="https://gedexo.com/" target="blank">Gedexo</a>  </p></div>
    </div>
</footer>
<!-- end footer -->


<script src="js/popper.min.js%2bbootstrap.min.js%2bjquery.sticky.js%2bmain.js.pagespeed.jc.u3tlxHiX01.js"></script>
<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>